.list-element {
  border-bottom: 1px solid #DDDDDD;
  border-radius: 2px;
  padding: 10px;
}

.list-element-bottom {
  border: none;
  padding: 10px;
}

.player {
  margin-top: 100px;
}

.player-icons {
	text-align: center;
}

.previous, .next, .shuffle {
	font-size: 65px !important;
}

.no_padding {
	padding: 0px;
}

.video-container {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

.main-list {
  margin-top: 30px;
}

button {
	border: none;
	background: white;
	outline: none;
	padding: 0px;
}

.shuffle_on {
  position: relative;
  outline:none;
  cursor: pointer;
  border: solid 1px white;
  border-radius: 100px;
  padding: 11px 11px 7px 11px;
  background: gray;
  font-size: 45px !important;
}

.tagline {
  font-size: 28px;
  font-style: italic;
  text-align: center;
  margin-bottom: -40px;
}

header h1 {
	text-align: center;
	font-size: 48px !important;
}

body {
  font-size: 18px;
}

footer {
  text-align: center;
  border-top: solid 1px #DDDDDD;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 14px;
}

footer a {
  color: black;
}

.previous, .next, .shuffle {
  font-size:65px !important;
}

@media only screen and (min-width: 768px) {
  .main-list {
    margin-top: 20px;
  }

  body {
    font-size: 15px;
  }

  header {
    font-size: 48px !important;
  }

  .tagline {
    font-size: 25px;
    font-style: italic;
    text-align: center;
    margin-bottom: -40px;
  }
}

/* Ripple */

/*.fab{
  border-radius: 50%;
  margin:0;
  padding: 20px;
}

.material{
  position:relative;
  color:white;
  margin: 20px auto;
  height:400px;
  width:500px;
  background:#f45673;  
}

.ripple{
  overflow:hidden;
}

.ripple-effect{
  position: absolute;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background: white;    
  -webkit-animation: ripple-animation 2s;
}


@-webkit-keyframes ripple-animation {
  from {
    -webkit-transform: scale(1);
    opacity: 0.4;
  }
  to {
    -webkit-transform: scale(100);
    opacity: 0;
  }
}*/