.list-element {
  border-bottom: 1px solid #DDDDDD;
  border-radius: 2px;
  padding: 10px;
}

.list-element-bottom {
  border: none;
  padding: 10px;
}

.player {
  margin-top: 100px;
}

.fa-nx {
	font-size: 80px !important;
}

.player-icons {
	text-align: center;
}

.video-container {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

.main-list {
  margin-top: 70px;
}

header h1{
	text-align: center;
	font-size: 48px !important;
}