.list-element {
  border-bottom: 1px solid #DDDDDD;
  border-radius: 2px;
  padding: 10px;
}

.list-element-bottom {
  border: none;
  padding: 10px;
}

.player {
  margin-top: 100px;
}

.main-list {
  margin-top: 70px;
}